
{% extends 'base.html' %}
 
{% block content %}

  {% for item in about %}
    
    <div class="site-half {% if item.right %}block{% endif %}">
      <div class="img-bg-1 {% if item.right %}right{% endif %}" style="background-image: url({{ item.image.url }});" data-aos="fade"></div>
      <div class="container">
        <div class="row no-gutters align-items-stretch">
          <div class="col-lg-5 {% if item.right %}mr-lg-auto{% else %}ml-lg-auto{% endif %} py-5">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">{{ item.description }}</span>
            <h2 class="site-section-heading text-uppercase font-secondary mb-5">{{ item.title }}</h2>
            <p>{{ item.text }}</p>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
    
  <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12" data-aos="fade">
            <h2 class="site-section-heading text-center text-uppercase">{{ teamtitle.title }}</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          
          {% for item in team %}

            <div class="col-md-6 text-center mb-5" data-aos="fade-up" data-aos-delay="100">
              <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid rounded w-50 mb-4">
              <h2 class="h5 text-uppercase">{{ item.name }}</h2>
              <span class="d-block mb-4">{{ item.position }}</span>
              <p class="lead">{{ item.description }}</p>
              <p>
                <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                <a href="#" class="p-3"><span class="icon-linkedin"></span></a>
              </p>
            </div>

          {% endfor %}
          
        </div>
      </div>  
    </div>
  
    <div class="site-section section-counter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p class="mb-5"><img src="{{ statis.image.url }}" alt="{{ statis.name }}" class="img-fluid"></p>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="site-section-heading mb-3 font-secondary text-uppercase">{{ statis.name }}</h2>
            <p class="mb-5">{{ statis.description }}</p>

            <div class="row">
              <div class="col-lg-6">
                <div class="counter">
                  <span class="caption">Current Downloads</span>
                  <span class="number" data-number="{{ statis.number }}">0</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="counter">
                  <span class="caption">Number of Templates</span>
                  <span class="number" data-number="{{ statis.price }}">0</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

{% endblock %}    
